{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} MangaBridge {% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/General.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@400;700&family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8ae22b070a.js" crossorigin="anonymous"></script>
    <style>
        .B{
            font-family: 'Bebas Neue', cursive;
        }
        .D{
            font-family: 'Dosis', sans-serif;
        }
        .M{
            font-family: 'Montserrat', sans-serif;
        }
    </style>

</head>
<body class="bg-gradient-to-r from-rose-100 to-teal-100">
    <nav class="w-full fixed top-0 left-0 z-50 p-2 mb-16">
        <div class=" p-4 flex my-2 mx-auto w-max">
            <a href="/"><i class="fa-solid fa-house fa-2xl text-white mx-4 w-max"></i></a>
            <a href="Archive.html"><i class="fa-solid fa-book fa-2xl text-white mx-4 w-max"></i></a>
            <a href="SSS.html"><i class="fa-solid fa-question fa-2xl text-white mx-4 w-max"></i></a>
            <a href=""><i class="fa-solid fa-magnifying-glass fa-2xl text-white mx-4 w-max"></i></a>
            <a href="/NewUpload"><i class="fa-solid fa-up-right-from-square fa-2xl text-white mx-4 w-max"></i></a>
            <a href="Duyuru.html"><i class="fa-solid fa-bullhorn fa-2xl fa-2xl text-white mx-4 w-max"></i></a>
            <a href=""><i class="fa-solid fa-bookmark fa-2xl text-white mx-4 w-max"></i></a>
            <a href=""><i class="fa-solid fa-user fa-2xl text-white mx-4 w-max"></i></a>
        </div>
    </nav>
        {% block content %}
        
        {% endblock %}
</body>
</html>