.topfivecontainer{
    margin-bottom: 40px;
    padding: 5px;
}
.topfivetitle{
    display: block;
    text-align: left;
    font-family: poppins;
    color:rgb(212, 166, 112);
    padding-left: 60px;
}
.capsule{
    width: 240px;
    height: 500px;
    margin: 7px;
    border-radius: 90px;
    position: relative;
}

.capsule_image{
    width: 240px;
    height: 500px;
    border-radius: 90px;
    object-fit: cover;
    text-align: center;
    
}

.capsule_wrapper{
    display: inline-block;
    width: 240px;
}

.manga_title_capsule{
    font-family: poppins;
    color: rgb(212, 166, 112);
    font-size: 28px;
    width: 240px;
    overflow: hidden;
    position: relative;
    left: 10px;
}
.capsule_gradient{
    background-image: radial-gradient(#000 5%, transparent 35%);
    background-size: 3px 3px;
    width: 240px;
    height: 500px;
    position: absolute;
    float: left;
    border-radius: 90px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26), 0 3px 10px 0 rgba(0, 0, 0, 0.247);
}

.mx-aauto{
    margin-left: auto;
    margin-right: auto;
}