.wrapper_chapter{
    margin-top: 180px;
    background-color:rgb(255, 226, 193) ;
    position: relative;
    left: 8%;
    height: 500px;
    text-align: left;
    
}
.thumbnail_chapter{
    object-fit:fill;
    height: 500px;
    width: 330px;
}

.chapter_name{
    font-size: 40px;
    font-style: italic;
    color:rgb(212, 166, 112) ;
    display: inline-block;
    margin: 5px;
}

.container_manga{
    width: 90%;
}

.table_manga{
    display: inline;
    position: absolute;
    padding: 10px;
}

.idk{
    font-style: italic;
    color:rgb(212, 166, 112) ;
    display: inline-block;
    margin: 10px;
}

.button_fansub{
    font-style: italic;
    color:rgb(212, 166, 112) ;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-style: none;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 5px;
}
